<div style="text-align: center; margin-left: 15%; margin-top: 6%">
  <div class="row col-md-10 col-md-offset-3">
    <div class="card card-body">
      <!-- Success Image -->
      <div style="text-align: center">
        <img
          src="assets/img/success.gif"
          width="200"
          height="200"
          alt="Registration Successful"
        />
      </div>

      <br />

      <!-- Success Message -->
      <h1>Registered Successfully !!!</h1>

      <br />

      <h3 style="color: rgb(16, 72, 80)">
        You will be re-directed to Login page in few seconds
      </h3>
    </div>
  </div>

  <br /><br />
</div>
