
<nav class="navbar navbar-expand-lg navbar-custom">

  <div class="container-fluid">
    <!-- Logo / Title -->
    <a class="navbar-brand" (click)="navigateHome()">
      <i class="fa fa-hospital-o"></i>
      {{ title }}
    </a>

    <!-- Mobile Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" (click)="navigateHome()">
            <i class="fa fa-home"></i> Home
          </a>
        </li>

        <!-- About -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            <i class="fa fa-info-circle"></i> About
          </a>
        </li>

        <!-- Services -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">
            <i class="fa fa-stethoscope"></i> Services
          </a>
        </li>

        <!-- Logged User -->
        <li class="nav-item user-info" *ngIf="loggedUser">
          <i class="fa fa-user-circle"></i>
          {{ loggedUser }}
        </li>

        <!-- Logout -->
        <li class="nav-item">
          <button class="logout-btn" (click)="logout()">
            <i class="fa fa-sign-out"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
